{% extends 'base.html.twig' %}

{% block title %}Formulario1{% endblock %}


{% block body %} 
<h2>Nueva Tesina</h2>
<h4>Formulario 1</h4>

        <p class="text-primary">{{info}}</p>
        <p class="text-danger">{{error}}</p>

    <form action="?action=registerForm1" method="post">

        <div class="form-group">
        <div class="ui-widget">
            <label for="formGroupExampleInput">director<span style="color:red">*</span></label>
            
            <select name="director" class="custom-select"   >
                <option></option>
                {% for director in docentes  %}
                    <option value="{{ director['id'] }}" {% if( form1.__GET('director') == director['id'] ) %}selected {% endif %}  >
                        {{ director['lastname'] }} {{director['firstname']}}
                    </option>
                {% endfor %}
            </select>

       
        </div>      
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">codirector<span style="color:red">*</span></label>
        
            <select name="codirector" class="custom-select" >
                <option></option>
                {% for codirector in docentes  %}
                    <option value="{{ codirector['id'] }}" {% if( form1.__GET('codirector') == codirector['id'] ) %}selected {% endif %} >
                        {{ codirector['lastname'] }} {{codirector['firstname']}}
                    </option>
                {% endfor %}
            </select>

        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">asesor profesional<span style="color:red">*</span></label>
            <input type="text" required name="asesor_profesional" value="{{ form1.__GET('asesor_profesional') }}" class="form-control" id="formGroupExampleInput" placeholder="asesor profesional">
        </div>
         <div class="form-group">
            <label for="formGroupExampleInput">alumno 1<span style="color:red">*</span></label>
            <div class="p-3 mb-2 bg-light text-dark" role="alert"> {{user.__GET('username') }} </div>
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput">alumno 2</label>
            <input type="text" name="id_alumno2" value="{{ form1.__GET('id_alumno2')}}" class="form-control" id="formGroupExampleInput" placeholder="username">
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput2">clasificacion<span style="color:red">*</span></label>
            <select name="clasificacion" required class="custom-select" >
                <option></option>
                <option value="Investigación teorica" {% if( form1.__GET('clasificacion') == 'Investigación teorica') %}selected {% endif %} >
                    Investigación teorica
                </option>
                <option value="Investigación aplicada" {% if( form1.__GET('clasificacion') == 'Investigación aplicada') %}selected {% endif %} >
                    Investigación aplicada
                </option>
                <option value="Desarrollo Tecnologico" {% if( form1.__GET('clasificacion') == 'Desarrollo Tecnologico') %}selected {% endif %} >
                    Desarrollo Tecnologico
                </option>
                <option value="Transferencia tecnologica y Temática de RS" {% if( form1.__GET('clasificacion') == 'Transferencia tecnologica y Temática de RS') %}selected {% endif %}  >
                    Transferencia tecnologica y Temática de RS
                </option>
            
            </select>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">plazo de ejecucion.. en meses<span style="color:red">*</span></label>
            <input  type="number" min="1" max="24" required name="plazo_de_ejecucion" value="{{ form1.__GET('plazo_de_ejecucion') }}" class="form-control" id="formGroupExampleInput2" placeholder="nro de meses" >
            <!-- type="number" min="1" max="24" -->
        </div>
        
        <div class="form-group"></div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

{% endblock %}