{% extends 'base.html.twig' %}
{% block title %}Tesinas Pendientes {% endblock %}

{% block body %} 
    <h2>Tesinas EnCurso</h2>
        <p class="text-primary">{{info}}</p>
        <p class="text-danger">{{error}}</p>
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>titulo Tesina</th>
                    <th> fecha creacion </th>
                    <th> autor</th>
                    <th> estado</th>
                    <th> revision</th>
                    <th> fecha exposisicion</th>
                    <th>opciones</th>
                    <th>cancelar</th>
                </tr>
            </thead>
            <tbody>
            {% set iterador = 0 %}
            {% for tesis in colTesis %}
                <tr>
                    <td> {{tesis.titulo}} </td>
                    <td> {{tesis.fecha}} </td>
                    <td>
                        {{ attribute(colAuthors,iterador) }}

                        {%  set iterador = iterador + 1 %}
                    </td>
                    <td>
                        <p
                            {% if  tesis.estado == 'tesina cancelada' %}   class="text-danger"  {% endif %}
                            {% if  tesis.estado == 'tesina finalizada' %}   class="text-success"  {% endif %}
                           >
                            {{tesis.estado}} 
                        </p>
                    </td>
                    <td> 
                        <p
                            {% if  tesis.revision == 'rechazada' %}   class="text-danger"  {% endif %}
                            {% if  tesis.revision == 'aceptada' %}   class="text-success"  {% endif %}
                           >
                            {{tesis.revision}} 
                        </p>
                    </td>
                    <td> 
                        {% if tesis.fecha_exposicion != '0000-00-00' %}
                            {{tesis.fecha_exposicion}}
                        {% endif %}
                    </td>
                    <td> 
                        {% if user.findPermiso('all') or user.findPermiso('tesina_validate')  %}
                            <!-- ver si >informe de avance o fecha expo o nota final -->
                            {% if tesis.estado == 'tesina inicial' %}
                                <form action="./?action=showTesinaInfAvance" method="POST">
                                    <input type="hidden" name="idTesis" value="{{tesis.id}}">
                                    <input   class="btn btn-light" type="submit" value="subir inf Avance">
                                </form>
                            {% endif %}

                            {% if tesis.estado == 'infAvance entregado' %}
                                <form action="./?action=showTesinaFechExp" method="POST">
                                    <input type="hidden" name="idTesis" value="{{tesis.id}}">
                                    <input   class="btn btn-light" type="submit" value="fecha exp">
                                </form>
                            {% endif %}

                            {% if tesis.estado == 'para exponer' %}
                                <form action="./?action=showTesinaUpdateNote" method="POST">
                                    <input type="hidden" name="idTesis" value="{{tesis.id}}">
                                    <input   class="btn btn-light" type="submit" value="agregar nota">
                                </form>
                            {% endif %}

                        {% endif %}
                    </td>
                    <td> 
                        <form action="./?action=cancelTesina" method="POST">
                            <input type="hidden" name="idTesis" value="{{tesis.id}}">
                            <input   class="btn btn-light" type="submit" value="cancelar Tesina">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}