{% extends 'base.html.twig' %}
{% block title %}Tesinas Pendientes {% endblock %}

{% block body %} 
    <h2>Propuestas Tesinas</h2>
        <p class="text-primary">{{info}}</p>
        <p class="text-danger">{{error}}</p>
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>titulo Tesina</th>
                    <th> fecha creacion</th>
                     <th> autores </th>
                    <th> objetivo</th>
                    <th>opciones</th>
                    <th>cancelar</th>
                </tr>
            </thead>
            <tbody>
            {% set iterador = 0 %}
            {% for tesis in colTesis %}
                <tr>
                    <td> {{tesis.titulo}} </td>
                    <td> {{tesis.fecha}} </td>
                    <td>
                        {{ attribute(colAuthors,iterador) }}
                        {%  set iterador = iterador + 1 %}
                    </td>
                    <td> {{tesis.objetivo }} </td>
                    
                    <td> 
                        {% if tesis.evaluadores_id == 0 %}
                            <form action="./?action=showFormEvaluathors" method="POST"><input type="hidden" name="idTesis" value="{{tesis.id}}"><input   class="btn btn-light" type="submit" value="agregar evaluadores"></form>
                        {% else %}
                            {% if user.findPermiso('all') or user.findPermiso('tesina_validate')  %}
                                <form action="./?action=showTesinaRevision" method="POST"><input type="hidden" name="idTesis" value="{{tesis.id}}"><input   class="btn btn-light" type="submit" value="corregir"></form>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td> 
                        <form action="./?action=cancelTesina" method="POST">
                            <input type="hidden" name="idTesis" value="{{tesis.id}}">
                            <input   class="btn btn-light" type="submit" value="cancelar Tesina">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}