{% extends 'base.html.twig' %}

{% block title %}user {% endblock %}




{% block body %} 
<h2>Usuario</h2>
        <p class="text-primary">{{info}}</p>
        <p class="text-danger">{{error}}</p>
    <form action="?action=updateUser" method="post">
       
        <div class="form-group">
             <input type="hidden" name="id" value="{{id}}">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">direccion Email<span style="color:red">*</span></label>
            <input type="email" required name="mail" value="{{mail}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@mail.com">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Nombre de Usuario<span style="color:red">*</span></label>
            <p class="text-danger">{{errorUserName}}</p>
            <input type="text" required name="username" value="{{username}}" class="form-control" id="formGroupExampleInput" placeholder="nombre de usuario">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Password<span style="color:red">*</span></label>
            <input type="text" required  name="pass" value="{{pass}}" class="form-control" id="formGroupExampleInput" placeholder="*****">
        </div>
        
        <div class="form-group">
            <label for="formGroupExampleInput">Nombre</label>
            <input type="text" name="firstname" value="{{firstname}}" class="form-control" id="formGroupExampleInput" placeholder="Nombre">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Apellido</label>
            <input type="text" name="lastname" value="{{lastname}}" class="form-control" id="formGroupExampleInput2" placeholder="Apellido">
        </div>
        <div class="row">
            <div class="col">
                <label for="formGroupExampleInput2">Nro legajo</label>
                <input type="text" name="leg" value="{{leg}}" class="form-control" placeholder="1234">
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="formGroupExampleInput2">Direccion</label>
                <input type="text" name="dir" value="{{dir}}" class="form-control" placeholder="calle nro 1234">
            </div>
            <div class="col">
                <label for="formGroupExampleInput2">telefono</label>
                <input type="number" name="tel" value="{{tel}}" class="form-control" placeholder="1234">
            </div>
        </div>
        <div class="form-group"></div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

{% endblock %}