{% extends 'base.html.twig' %}
{% block title %}Home {% endblock %}

{% block body %} 
    <h2>Alumnos</h2>
        <p class="text-primary">{{info}}</p>
        <p class="text-danger">{{error}}</p>
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>email</th>
                    <th> user</th>
                    <th> nombre</th>
                    <th> apellido</th>
                    <th> legajo</th>
                    <th> direccion</th>
                    <th> telefono</th>
                    {% if user.findPermiso('usuario_accept') or user.findPermiso('all')  %}
                        <th> habilitar </th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for us in colUsers %}
                {% if us.findRol('administrador')or us.findRol('personal administrativo')  %}
                
                {%else%}
                <tr>
                    <td> {{us.__GET('email')}} </td>
                    <td> {{us.__GET('username')}} </td>
                    <td> {{us.__GET('firstname')}} </td>
                    <td> {{us.__GET('lastname')}} </td>
                    <td> {{us.__GET('legajo')}} </td>
                    <td>  {{us.__GET('direction')}}</td>
                    <td> {{us.__GET('phone')}} </td>
                   {% if user.findPermiso('usuario_accept') or user.findPermiso('all')  %}
                        <td>    
                            {% if us.findRol('alumno')  %}  
                            <form action="?action=desableUserAlumno" method="POST"><input type="hidden" name="id" value="{{us.__GET('id')}}"><input   class="btn btn-light" type="submit" value="DesHabilitar"></form>
                            {%else%}
                            <form action="?action=enableUserAlumno" method="POST"><input type="hidden" name="id" value="{{us.__GET('id')}}"><input   class="btn btn-light" type="submit" value="Habilitar"></form>
                            {% endif %}     
                        </td>
                   {% endif %}
                  
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

{% endblock %}