{% extends 'base.html.twig' %}
{% block title %}Tesinas {% endblock %}

{% block body %} 
    <h2>Tesinas</h2> 
        <p class="text-primary">{{info}}</p>
        <p class="text-danger">{{error}}</p>
        <table id="table_id" class="display">
            <thead>
                <tr>
                    
                    <th>autores</th>
                    <th>titulo Tesina</th>
                    <th> fecha creacion</th>
                    <th>estado</th>
                    <th> revision</th>
                    <th> fecha exposicion</th>
                    <th> nota</th>
                    
                    
                    <th> opcion</th>
                    
                </tr>
            </thead>
    {% set iterador = 0 %}        <tbody>
            {% set iterador = 0 %}
            {% for tesis in colTesis %}
                <tr>
                    <td>
                        {{ attribute(colAthors,iterador) }}

                        {%  set iterador = iterador + 1 %}
                    </td>
                    <td> {{tesis.titulo}} </td>
                    <td> {{tesis.fecha}} </td>
                    <td> 
                        <p
                            {% if  tesis.estado == 'tesina cancelada' %}   class="text-danger"  {% endif %}
                            {% if  tesis.estado == 'tesina finalizada' %}   class="text-success"  {% endif %}
                           >
                            {{tesis.estado}} 
                        </p>
                    </td>
                    <td> 
                        <p
                            {% if  tesis.revision == 'rechazada' %}   class="text-danger"  {% endif %}
                            {% if  tesis.revision == 'aceptada' %}   class="text-success"  {% endif %}
                           >
                            {{tesis.revision}} 
                        </p>
                    </td>
                   <td> 
                        {% if tesis.fecha_exposicion != '0000-00-00' %}
                            {{tesis.fecha_exposicion}}
                        {% endif %}
                    </td>
                    <td> 
                        {% if tesis.nota != '0' %}
                            {{tesis.nota}}
                        {% endif %}
                    </td>
                    <td>
                        <form action="./?action=verTesina" method="POST">
                            <input type="hidden" name="idTesis" value="{{tesis.id}}">
                            <input  class="btn btn-light" type="submit" value="verTesina">
                        </form>
                    </td>

                
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}
       